<h1>RumbleBars commits</h1>

<ul>
{{#each .}}
  <li>
    <div class="head">
      {{#if commit}}<div>{{commit.message}}</div>{{/if}}
      {{#if commit.author}}
        <div>{{commit.author.name}} — <span>{{sha}}</span></div>
        <div>{{commit.author.date}}</div>
      {{else}}
        -- no author --
      {{/if}}
    </div>
  </li>
{{/each}}
</ul>
